$header-height: 85px;
$footer-height: 75px;
$header-font-size: 65px;
$bar_height: 17px;

/* Colors */
$darker-main: #333;
$lighter-main: #fff;

$dark-main: #737373;
$light-main: #e5e5e5;

$slight: #ddd;
$light: #aaa;
$green: #88c134;
$red: #d2315d;
$blue: #22b5bf;
$yellow: #f7c808;

$pos: #88c134;
$med-pos: #f7c808;
$med-neg: #e98813;
$neg: #d2315d;
$neu: #f7c808;

$success-dark: #629417;
$success-light: #c3dd9b;
$error-dark: #d23131;
$error-light: #e5a5a5;

$diag-trans: rgba(55, 55, 55, 0.7);
$trans-black: rgba(0,0,0,.7);

$check-color: #53a93f;
$cancel-color: #e95a61;

$light-bg: #fff;
$box-shadow-color: #d8d8d8;

$dialog-bg: #999;
$dialog-bg-op: .7;

$overlay-bg: #000;
$overlay-bg-op: .7;

$loading-img: '/images/loading.gif';
$icon-dark: '/images/tsuiseki-icon_ed2_sm.png';
$icon-light: '/images/tsuiseki-icon_ed2_sm_inv.png';
$icon: '/images/tsuiseki-icon.svg';

$gradient-light: rgba(252,252,252,1);
$gradient-light-dark: rgba(230,231,234,1);
$gradient-dark: rgba(210,211,214,1);
$gradient-border-color: rgba(200,201,204,1);
$gradient-text-color: rgba(170,170,170,1);
$gradient-shadow-dark: rgba(0,0,0,0.45);
$gradient-shadow-light: rgba(255,255,255,0.45);
$gradient-text-focus: rgba(110,111,114,1);
$gradient-focus: rgba(255,255,255,1);

$add-light: rgb(174,230,138);
$add-dark: rgb(149,221,100);
$add-color: rgba(92,174,38,.8);
$add-border: rgba(92,174,38,1);
