$header-height: 85px;
$footer-height: 75px;
$header-font-size: 65px;
$bar_height: 17px;

/* Colors */
$darker-main: invert(#333);
$lighter-main: invert(#fff);

$dark-main: invert(#737373);
$light-main: invert(#e5e5e5);

$slight: invert(#ddd);
$light: invert(#aaa);
$green: invert(#88c134);
$red: invert(#d2315d);
$blue: invert(#22b5bf);
$yellow: invert(#f7c808);

$pos: invert(#88c134);
$med-pos: invert(#f7c808);
$med-neg: invert(#e98813);
$neg: invert(#d2315d);
$neu: invert(#f7c808);

$success-dark: invert(#629417);
$success-light: invert(#c3dd9b);
$error-dark: invert(#d23131);
$error-light: invert(#e5a5a5);

$diag-trans: rgba(55, 55, 55, 0.7);
$trans-black: invert(rgba(0,0,0,.7));

$check-color: invert(#53a93f);
$cancel-color: invert(#e95a61);

$light-bg: invert(#fff);
$box-shadow-color: invert(#d8d8d8);

$dialog-bg: invert(#999);
$dialog-bg-op: .7;

$overlay-bg: invert(#000);
$overlay-bg-op: .7;

$loading-img: '/images/loading.gif';
$icon-dark: '/images/tsuiseki-icon_ed2_sm_inv.png';
$icon-light: '/images/tsuiseki-icon_ed2_sm.png';
$icon: '/images/tsuiseki-icon_inv.svg';

$gradient-light: invert(rgba(252,252,252,1));
$gradient-light-dark: invert(rgba(230,231,234,1));
$gradient-dark: invert(rgba(210,211,214,1));
$gradient-border-color: invert(rgba(200,201,204,1));
$gradient-text-color: invert(rgba(170,170,170,1));
$gradient-shadow-dark: invert(rgba(0,0,0,0.45));
$gradient-shadow-light: invert(rgba(255,255,255,0.45));
$gradient-text-focus: invert(rgba(110,111,114,1));
$gradient-focus: invert(rgba(255,255,255,1));

$add-light: invert(rgb(174,230,138));
$add-dark: invert(rgb(149,221,100));
$add-color: invert(rgba(92,174,38,.8));
$add-border: invert(rgba(92,174,38,1));
