h2.tit Give Feedback
= form-for model wrapper='unstylish' action='send'
  = ef-input type classNames=''
    each feedbackType in model.types
      = radio-button name='type' id=feedbackType value=feedbackType checked=model.type
      label.unstylish for=feedbackType
        '  #{feedbackType}

  = ef-input shortDescription
    = input-field shortDescription placeholder='Short description...'
    if view.showError
      = error-field shortDescription

  = ef-input details
    = input-field details as='text' placeholder='Detailed information...'
    if view.showError
      = error-field details

  button.icon-check type="submit"
