.about
  div style='text-align:center;font-size:16pt'
    p
      ' Have an account?
      = link-to 'account.login' | Log in
      | .
    p Don't have an account? Read on.

  .abrow
    article
      h3 Easily track your airing anime
      p
        | Some people like to follow 50+ series each season. Not everyone is
          this hardcore, but, even for just a handful, keeping track of new
          episodes is a task requiring a written schedule.
  .abrow
    article
      h3 Pick your sources
      p
        | Anime may be broadcast on television and/or streamed on the net from
          a variety of sources at different times. Decide the source from
          which you wish to watch for each series and Tsuiseki will make sure
          you don't forget.
      p
        ' Tsuiseki tracks Japanese television stations and some simulcast sites.
        ' Tracked Simulcast sites include
        a href='http://www.crunchyroll.com/' Crunchyroll
        ' ,
        a href='http://www.daisuki.net/' DAISUKI
        ' , and
        a href='http://www.funimation.com/' FUNimation
        | .
  .abrow
    article
      h3 Episode-by-episode feedback
      p
        | Enhance your experience by providing feedback with every episode
          watched. Once you complete the series, the episode ratings will be
          used to calculate a possible score (out of 10) for the series.
    article
      h3 Update your lists together
      p
        | When you update your shows with Tsuiseki, your connected lists will
          update as well! This is particularly useful for those with multiple
          lists.
      p
        ' Currently supported list sites are
        a href='http://myanimelist.net/' MyAnimeList
        ' ,
        a href='https://hummingbird.me/' Hummingbird
        ' , and
        a href='https://anilist.co/' AniList
        | .
  .abrow
    article
      h3 Grow with us!
      p
        | Tsuiseki is still a very young project. There's more yet described
          here and much more to come later. There is a feedback button on every
          page for easily making suggestions or reporting problems.
  .abrow
    article
      h3 So, why Tsuiseki?
      p
        | Tsuiseki is a schedule, not an anime list. Tsuiseki does well to
          complement your anime list if you have one, but it is meant simply
          to make it easy to follow airing anime.
      p
        ' Much like the services that
        a href='http://anichart.net/' AniChart
        '
        ' and
        a href='https://www.livechart.me/' LiveChart
        '
        | provide, Tsuiseki works as a visual schedule of airing anime, though
          in a fundamentally different way. Tsuiseki aims to provide a deeper
          level of customisation via choice of source.

  div style='text-align:center'
     = link-to 'account.register' class='register' | REGISTER
