h2 Recover your password

= form-for model id="change-password-form" action='changePassword'
  p Enter your old password and your new password
  = ef-input oldPassword as='password'
  = ef-input newPassword as='password'
  = ef-input newPasswordRepeat as='password' label='Repat new password'

  br
  button.icon-check.save type='submit' title='Submit'
