h2
  = link-to 'actions.user' model.username classNames='user_link' id=model.username
    = model.username
= lazy-loader action='loadShows' classNames='shows'
  if shows.isFulfilled
    each show in shows 
      = render 'actions/show-with-day' show
    else
      div.empty Seems like your victim hasn't watched much anime lately...
