@media (max-width: 830px) {
  .abrow {
    display: block !important;

    article {
      font-size: 100% !important;

      &.st {
        max-width: 100% !important;
      }
    }
  }
}

@media (max-width: 700px) {
}

.about {
  max-width: 960px;
  margin: auto;
  padding: 10px 0 20px 0;

  .register {
    display: inline-block;
    color: #fff;
    font-size: 20pt;
    font-weight: 500;
    //background: #4d90fe;
    background: #3079ed;
    border-radius: 7px;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 10px;
    //border: 1px solid #3079ed;

    &:hover {
      background: #4d90fe;
    }
  }

  .abrow {
    display: flex;
    flex-direction: row;

    article {
      background: $light-bg;
      box-shadow: 0 0 2px 1px $box-shadow-color;
      font-size: 150%;
      padding: 10px 20px;
      margin: 10px;
      min-width: 250px;

      & {
        flex: 1;
      }

      h3 {
        font-weight: 400;
      }
      p {
        text-indent: 30px;
        font-weight: 300;
        padding: 0 10px 10px 10px;
        text-align: justify;
      }
    }
  }
}
