section.day_list {
    @include base-list;
    @include transition(opacity 0.5s, min-height 0.5s, max-height 0.5s, margin 0.5s);
    min-height: 248px;
    max-height: 9999px;

    &.hide {
      opacity: 0;
      min-height: 0;
      max-height: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
    }
}
