@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular-webfont.woff');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Roboto-Italic-webfont.woff');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
       url('../fonts/Roboto-Italic-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Roboto-Bold-webfont.woff');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('../fonts/Roboto-Bold-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Roboto-BoldItalic-webfont.woff');
  src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype')
}
/*
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto-Black-webfont.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Roboto-BlackItalic-webfont.ttf');
}
*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RobotoCondensed-Regular-webfont.woff');
  src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
       url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/RobotoCondensed-Light-webfont.woff');
  src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
       url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/RobotoCondensed-LightItalic-webfont.woff');
  src: url('../fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
       url('../fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/RobotoCondensed-Italic-webfont.woff');
  src: url('../fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
       url('../fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/RobotoCondensed-Bold-webfont.woff');
  src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
       url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/RobotoCondensed-BoldItalic-webfont.woff');
  src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
       url('../fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Roboto-Thin-webfont.woff');
  src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
       url('../fonts/Roboto-Thin-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/Roboto-ThinItalic-webfont.woff');
  src: url('../fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-ThinItalic-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium-webfont.woff');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
       url('../fonts/Roboto-Medium-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Roboto-MediumItalic-webfont.woff');
  src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto-Light-webfont.woff');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Light-webfont.woff') format('woff'),
       url('../fonts/Roboto-Light-webfont.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Roboto-LightItalic-webfont.woff');
  src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
       url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype')
}


